# Application
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smart_logistics

# Redis
REDIS_URL=redis://localhost:6379

# Weather
WEATHER_API_KEY=

# Map
MAPTILER_API_KEY=